{% extends "playerbase.html" %}

{% block title %} JWPlayer {% endblock %}

{% block head %}
	<script type="text/javascript" src="{{params.playerscript}}"></script>

	<script type="text/javascript">
		$(document).ready(function() {
			BA_GLOBAL_PLAYER = jwplayer('mediaplayer')
			BA_GLOBAL_PLAYER.setup({
				'flashplayer': '{{params.swfplayer}}',
				'file': '{{params.file}}',
				'width': '100%', 'height': '100%',
				'provider': '{{params.provider}}',
				'skin': '{{params.skin}}',
				'image': '{{params.image}}',
				'autostart': '{{params.autostart}}',
				'allowfullscreen': '{{params.allowfullscreen}}',
				'allowscriptaccess': '{{params.allowscriptaccess}}',
				'http.startparam': '{{params.http_startparam}}',
				'viral.allowmenu': 'false'
			});
		});
	</script>
{% endblock %}